/* ============== COMMON STYLES ============== */
/* --- Скидання відступів --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* --- т.я. у рядкових елементів є невеличкий відступ, його також скидаємо --- */
img {
  display: block; /* саме для цього ставимо, щоб позбавитись відступа */
}

/* --- Скинути маркери --- */
/* ul,
ol {
  list-style-type: none;
} */
.list {
  list-style-type: none;
}

/* --- Скинути підкреслення у лінк --- */
/* a {
  text-decoration: none;
} */
.link {
  text-decoration: none;
}

/* --- Курсор на кнопку --- */
button {
  cursor: pointer;
}

/* приховати заголовок візуально, але для пошукових систем та скрін рідерів він не приховується */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #fafafa;
}

.container {
  width: 1166px; /* визначається у фігмі по грідам від колонки до колонки */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.accent-color {
  color: #fd9222;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

/* ======== HEADER ======== */
.page-header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.page-navigation {
  display: flex; /* для того, щоб лого та меню були на одній лінії на батьківский елемент задаємо: */
  align-items: center; /* щоб флекс елементи центрувались по допоміжній осі */
  justify-content: space-between;
  width: 100%;
  min-width: 980px; /* максимальна ширина до якої може розтягнутись (вимірювалось від початку лого до кінця меню навігації) */
}

/* --- Logo --- */
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11; /* line-height 24px : font-size: 18px = 1.11 */
  letter-spacing: -0.03em; /* letter-spacing : font-size, т.е. -0.54px : 18px = -0.03em */

  color: #111111;
}

/* --- Menu --- */
.menu {
  display: flex; /* щоб встали в один рядок (задається батьківскому елементу)*/
  column-gap: 24px; /* gap - працює тільки для флекс елементів, задається на батьківскій елемент */
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: #111111;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* ======== /HEADER ======== */

/* ======== HERO ======== */
.main-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.buy-now-btn {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  background-color: #fd9222;

  color: #ffffff;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid #ffffff;

  color: #ffffff;
}

.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
}

.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;

  color: #ffffff;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}
/* ======== /HERO ======== */

/* ======== BENEFITS ======== */
.benefits-list-title {
  font-size: 18px;
  font-weight: 600;

  color: #ffffff;
}

.benefits-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: rgba(255, 255, 255, 0.7);
}
/* ======== /BENEFITS ======== */

/* ======== INGREDIENTS ======== */
.ingredients-title {
  width: 411px; /* для того, щоб було перенесення у заголовка, обмежуємо по ширині */
  margin-left: auto;
  margin-right: auto;
  /* для того, щоб відцентрувати блочний елемент, використовуємо автоматичні марджини, text-align не допоможе */
  margin-bottom: 28px;
}

.ingredients-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  width: 486px;
  margin-left: auto;
  margin-right: auto;
  /* тому, що блоковий елемент */
  margin-bottom: 50px;

  color: #111111;
}

.ingredients-list {
  display: flex;
  gap: 19px;
}

.ingredients-list-item {
  /* 100% - width батьківського елемента
  3 - кількість проміжків
  19px - розмір проміжку між картками
  4 - кількість карток
  це робиться замість фіксованної ширини, для подальшого для адаптивності, карточки будуть підлаштовуватись */
  width: calc((100% - 3 * 19px) / 4);
  border-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 28px;
  padding-right: 36px;
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #ffffff;
}

/* 
4n + 3
4 * 0 + 3 = 3;
4 * 1 + 3 = 7;
4 * 2 + 3 = 11;
*/
.ingredients-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border-color: #1e1823;
  color: #ffffff;
}

/* всім парним елементам */
.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ======== /INGREDIENTS ======== */

/* ======== HOW IT`S MADE ======== */
.how-title {
  margin-bottom: 50px;
}

.how-made-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  color: #111111;
}

.how-made-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;

  color: #111111;
}
/* ======== /OW IT`S MADE ======== */

/* ======== REVIEWS ======== */
.reviews-list-fullname {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  color: #111111;
}

.reviews-list-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.28px;

  color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
  border-radius: 100px;
  border: 1px solid #fd9222;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* ======== /OREVIEWS ======== */

/* ======== FOOTER ======== */
.page-footer-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.contact-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;

  color: #ffffff;
}

.contact-list-link {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
/* ======== /FOOTER ======== */
